<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<section id="tp08" ng-controller="RaceController as raceContr">
    <span ng-bind="person"></span>
    <div>
        <h1>TP 08 - Modules</h1>
        <h3>Pariez</h3>
        <button class="btn btn-primary btn-infos" ng-click="raceContr.getName('Paul')"  >Paul</button>
        <button class="btn btn-primary btn-success" value="Jean" ng-click="raceContr.getName('Jean')">Jean</button>
        <button class="btn btn-danger btn-success" value="Julie" ng-click="raceContr.getName('Julie')">Julie</button><br><br>

        <span ng-show="raceContr.nameChoosen != 'unknown'">Vous avez choisi :
        <span >{{raceContr.nameChoosen}}</span>
        </span>

        <br>
        <h3>La course</h3>
        <button class="btn btn-default" ng-click="raceContr.start()">Lancer la course</button>
        <p>Gagnant:{{raceContr.gagnant.name}} --> {{raceContr.gagnant.progress}} </p>

      <div ng-repeat="pr in raceContr.tabAllRacer">
        <div class="progress">
            <div class="progress-bar progress-bar-{{pr.shirt}}" role="progressbar" style="width:{{pr.progress}}%">
                <span style="color:black">{{pr.name}} {{pr.progress}}%</span>
            </div>
        </div>

      </div>

    </div>
</section>
