<section id="tp04">
<h1>TP 04 - Formulaire</h1>

<!-- Test 1 : model binding -->
<!-- TODO : ajouter l'affichage des données saisies via un modèle -->
<form name="form1">
Name: <input type="text"/ ng-model="user.name"><br>
E-mail: <input type="text"/ ng-model="user.email"><br>

<span>{{user}}</span>

</form>




<!-- Test 2 : 2 états-->
<!-- TODO :
- ajouter un bouton de sauvegarde et un bouton de reset
- ajouter l'affichage de l'état édition et de l'état tampon
-->
<form name="form2" ng-controller="FormController as ctrl">
Name: <input type="text" ng-model="ctrl.currentUser.name"/><br>
E-mail: <input type="text" ng-model="ctrl.currentUser.email"/><br>

<button ng-click="ctrl.save(ctrl.currentUser.name,ctrl.currentUser.email)" >save</button>
<button ng-click="ctrl.reset()">reset</button>

<span>current: {{ctrl.currentUser}}</span>

<span >saved: {{ctrl.name}} {{ctrl.email}} </span>

</form>



<!-- Test 3 : validation -->
<!-- TODO : ajouter une validation Angular avec affichage des erreurs et
utilisation des classes CSS -->
<form name="form3" novalidate ng-controller="FormController as ctrl">
		Name: <input name="name"  type="text" required ng-model="ctrl.currentUser.name" /><br>
		<span ng-show="form3.name.$error.required">Required Name</span>
<br/>
		E-mail: <input  name="email" type="email" required ng-model="ctrl.currentUser.email" /><br>

	<div ng-show="form3.email.$dirty && form3.email.$invalid">
	Invalid:
		<span ng-show="form3.email.$error.required">Required Email</span>
		<span ng-show="form3.email.$error.email">Invalid email.</span>
	</div>

</form>

</section>